In order to complete the All Three Worms self-replication worm project using python, certain modules needed to be imported.

Module 1: NMAP:  Nmap is an important Port Scanner & Network Exploration tool.  It uses IP packets to identify all the devices connected to a network and to provide information on the services and operating systems they are using.  In this case, we imported the nmap python module in order to use nmap's ability to scan the network for IP addresses and additionally scan for Open port 22's where we would be able to make an SSH connection.

Module 2: ifcfg:  Ifcfg is a cross platform (i.e. Windows & Unix) libarary for parsing ifconfig and ipconfig output in Python.  In the previous nmap module, we noted it is  able to scan IP addresses and output port and service detail.  Ifcfg is able to parse and pull information such as IP, Netmask(subnet), MAC Address, Hostname, and more.  In our code, we can see that we used ifcfg to pull information about the host machine... ip and netmask.  Then, we used nmap to scan the netmask for other IP's on the network, and then to scan found IP's for open port 22's.

Module 3: Paramiko: Paramiko is a Python interface around SSH networking concepts.  In our project, we were establishing client and server functionality via port 22... which is typically the SSH port.  It provides a high-level(human readable) representation of a session with an SSH server. In our project, we are able to establish a connection with the victim(server) machine and the host(client) machine allowing us to transfer files and commands to the victome machine.  We transferred an executable file and also instructed the server machine to execute that file.  A key protocol to note is that the file was transferred before the command to execute.  While this seems logical within the scope of our project, these commands can get tricky the more complicated the objective becomes.  You may need to pass intallation commands along with try/excepts that are able to negotiate conceivable errors and prompts on the victim machine.
